<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Comment for <%= comment._id %> </h1>
    </div>
    Title: <%= comment.url %> <br>
     <%= comment.comment %>
    <hr>

<%- include('bootfooter') -%>
