<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1> <%= comment.url %> </h1>
      
    </div>

     <%= comment.comment %>
    <hr>

<%- include('bootfooter') -%>
