
<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome,  <%= user.googlename %> </h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> UserName: <%= user.userName %> <br> <br>
            Email: <%= user.googleemail %>
        </p>
        <p> Last updated on <%= user.lastUpdate %> </p>
        <hr>
        <form method="post" action="/updateProfile">
            userName: <input type="text" name="userName" value="<%= user.userName %>"><br> <br>
            profilePicURL: <input type="text" name="profilePicURL"
                              value="<%= user.profilePicURL %>"><br> <br>
            <input type="submit" class="btn btn-lg btn-primary">
        </form>


    </div>

<%- include('bootfooter') -%>
